html, body {
  height: 100%;
}

body{
  width:100%;
  margin: 0;
  padding:0;
  background:#acacac
}

.module{
  display:flex;
  height:100%;
  width:100%;
  background: rgba(255,255,255,.5);
  flex-direction:row;
  justify-content: center;
  align-items: center;

}

#display{
  display: flex;
  flex-direction: column;
}

#videoSource{
  display:none;
}

select, button{
  padding: 11px;
  text-align:center;
}

.controls, .controls .select{
  display: flex;
  flex-direction: column;
  margin: 11px 0;
}

.controls > h2{
  font-family: courier;
}

#source {
  width: 640px;
  height: 480px;
}

#mirror, #film{
  display:none;
  width: 640px;
  height: 480px;
  z-index:2;
}

#snap{
  border-radius: 50% 50%;
  width: 150px;
  height: 150px;
  outline:none;
  background: red;
  margin: 0 auto;
}

@media all and (orientation: landscape){

  #source{
    width: 640px;
    height: 480px;
  }

}

@media all and (orientation: portrait){

  #source{
    height: 640px;
    width: 480px;
  }

  #snap{
    margin: 0 auto;
    top: 80%;
  }

}




